.cart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 50px;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.cartHeader:hover button {
    color: red;
}

.cart h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.cart h4 {
    align-self: flex-end;
    font-size: 18px;
    margin-top: 30px;
    padding-right: 25px;
}

.cartList {
    width: 750px;
    border-radius: 3px;
}

.cartRow {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 1fr 4fr 2fr 1fr;
    padding: 10px;
    align-items: end;
}

.cartRow__delete {
    background-color: transparent;
    color: rgb(234, 129, 129);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

.cartRow__title {
    text-transform: uppercase;
    font-size: 14px;
}

.cartRow__price {
    text-align: right;
}

.cartRow__amount {
    padding-left: 5px;
}

.cartRow__amount input {
    width: 30px;
}

.cartRow__dots {
    border-bottom: 1px dotted black;
}

.cartRow__total_price {
    text-align: right;
    padding-right: 5px;
}

.order_submit_btn {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(26, 26, 195);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
}

.order_submit_btn:not(:disabled):hover {
    background-color: rgb(17, 17, 123);
}

.order_submit_btn:disabled {
    cursor: not-allowed;
    background-color: lightgray;
}