.party {
    width: 250px;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(39, 157, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.party:hover, .party_active {
    background-color: orange;
    cursor: pointer;
}

.party h5 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.party img {
    width: 100%;
}

.party p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.party span {
    text-align: center;
    color: black;
    font-size: 13px;
}

.party button {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 13px;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    padding: 5px;
}

.party:hover button {
    background-color: rgb(39, 157, 226);
    color: white;
}