.about {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.content {
    background-image: url('../../data/img/flag.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 720px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    margin-top: -20px;
    z-index: 999;
    padding: 80px 120px;
}

.content h3 {
    font-family: 'Caveat', cursive;
    font-size: 33px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.content p {
    font-size: 14px;
    text-align: center;
}

.about button {
    color: brown;
    padding: 10px;
}

.about button p {
    font-family: 'Caveat', cursive;
    font-size: 33px;
}

.about button:hover {
    color: blue;
}
