.submitOrder {
    background-color: rgba(255, 255, 255, 0.9);
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitOrder h3 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(18, 62, 163);
    font-weight: 200;
}

.submitOrder button {
    font-size: 20px;
    background-color: rgb(18, 62, 163);
    padding: 7px 40px;
    border-radius: 5px;
    color: white;
}

.submitOrder button:hover {
    background-color: rgb(51, 102, 220);
}