.partyOptions {
    width: 100%;
    background-color: rgba(236, 239, 241);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.partyOptionsSection {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}

.partyOptions h4 {
    width: 100%;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    background-color: orange;
    color: white;
}

.partyOptionsSection button {
   width: 50%;
   cursor: pointer;
}

.partyOptions button:hover h4 {
    background-color: rgb(39, 157, 226);
}