.decoration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration p {
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

.decorationList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 30px;
}

.decorationItem {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(39, 157, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.decorationItem:hover, .activeItem {
    background-color: orange;
}

.decorationItem p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.decorationItem img {
    width: 150px;
}

.decorationItem span {
    text-align: center;
    font-size: 12px;
}