input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.childrenCount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.childrenCount p {
    margin-top: 5px;
    font-size: 13px;
}

.numChildren {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.amountOfChildren {
    width: 100px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(39, 157, 226);
    border-radius: 3px;
    border: none;
    color: white;
}

.numChildren button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: rgb(39, 157, 226);
    border-radius: 3px;
    border: none;
    color: white;
}

.numChildren button:hover,
.numChildren button:active {
    background-color: rgb(26, 113, 163);
}