.App {
    height: 100vh;
    width: 100vw;
    background-image: url('../src//data/img/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}